[submodule ".registry"]
	path = .registry
	url = https://github.com/ttrotto/ttrotto.r-universe.dev
	branch = HEAD
[submodule "rusterize"]
	path = rusterize
	url = https://github.com/ttrotto/rusterize
	subdir = R/rusterize
